@model DataAccess.Customers

    <div class="row">
        <div class="col-md-4">Contact Name</div>
        <div class="col-md-8">@Html.EditorFor(x => x.ContactName, null, new { htmlAttributes = new { @class = "form-control" } })</div>

        <div class="col-md-4">Company Name</div>
        <div class="col-md-8">@Html.EditorFor(x => x.CompanyName, null, new { htmlAttributes = new { @class = "form-control" } })</div>

        <div class="col-md-4">Address</div>
        <div class="col-md-8">@Html.EditorFor(x => x.Address, null, new { htmlAttributes = new { @class = "form-control" } })</div>

        <div class="col-md-4">City</div>
        <div class="col-md-8">@Html.EditorFor(x => x.City, null, new { htmlAttributes = new { @class = "form-control" } })</div>

        <div class="col-md-4">Country</div>
        <div class="col-md-8">@Html.EditorFor(x => x.Country, null, new { htmlAttributes = new { @class = "form-control" } })</div>

        <div class="col-md-4">Fax</div>
        <div class="col-md-8">@Html.EditorFor(x => x.Fax, null, new { htmlAttributes = new { @class = "form-control" } })</div>

        <div class="col-md-4">Phone</div>
        <div class="col-md-8">@Html.EditorFor(x => x.Phone, null, new { htmlAttributes = new { @class = "form-control" } })</div>
    </div>